apiVersion: apps/v1
kind: Deployment
metadata:
  name: anil-ui-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
      - name: ui
        image: anilecbcsa/anil-mlops830ui:latest
        ports:
        - containerPort: 8501
---
apiVersion: v1
kind: Service
metadata:
  name: anil-ui-svc
spec:
  type: NodePort
  selector:
    app: ui
  ports:
  - port: 8501
    targetPort: 8501
    nodePort: 30007
